@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="coreMvcOne" >
    <div ng-controller="indexController" class="row">
        <div class="col-xs-12">
            <h2>start here ...</h2>
            one: {{ MessageOne }}
            <br /><br />
            two: {{ MessageTwo }}
            <br /><br />
            three: {{ MessageThree }}
            <br /><br />
            f(): {{ FunctionOne() }}
            <br /><br />
        </div>
    </div>
</div>


